.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 10px;
  padding: 70px;
  border: 1px solid #4caf50;
  margin: auto;
  box-sizing: border-box;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 29px;
  margin: 3px 0;
}
.button :hover {
  opacity: 2.8;
}
